@using fotomarket.Models
@model List<Table_Kaynaklar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<div style="text-align: center; margin-top: 0px;">
    <h2>Kullandığım Görsellerin Linkleri </h2>
</div>

<div class="container">
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>

                        <th scope="col">@x.ID</th>
                        <td><a href="@x.Linkler" target="_blank">@x.Linkler</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
