@model fotomarket.Models.Table_Videolar

@{
    ViewBag.Title = "VideoGetir";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div style="text-align: center;">
    <h2>Videolar Bölümü Düzenleme Sayfası</h2>
</div>

@using (Html.BeginForm("VideoGuncelle", "Videolar", FormMethod.Post, new { style = "margin-left: 5px;" }))
{
    <b> ID</b>
    <br />
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <b>Düzenleyen Kullanıcı ID:</b>
    @Html.TextBoxFor(x => x.KullaniciID, new { @class = "form-control", required = "required" })
    <br />
    <b>Video Src Linki:</b>
    @Html.TextBoxFor(x => x.VideoSrcLinki, new { @class = "form-control", required = "required" })
    <br />

    <br />
    <button class="btn btn-info">Kaydet</button>
    <h4 style="margin-left: 10px;">NOT: Video linkini kopyalarken paylaş -> yerleştir ardından çıkan html kodunun srcden sonraki ifadeyi kopyalayınız.</h4>

}