@model fotomarket.Models.Table_Admin
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div style="text-align: center;">
    <h2>Admin Ekle</h2>
</div>

<form class="form-group" method="post" style="margin-left: 5px;">

    <br />
    <b>Admin Kullanıcı Adı:</b>
    @Html.TextBoxFor(x => x.AdminKullaniciAdi, new { @class = "form-control", required = "required" })
    <br />
    <b>Şifre:</b>
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", required = "required" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>
</form>
