@using fotomarket.Models
@model List<Table_Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div style="text-align: center; margin-top: 0px;">
    <h2>Admin Yönetimi </h2>
</div>

<div class="container">
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Kullanıcı Adı</th>
                    <th scope="col">Şifre</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <th scope="col">@x.ID</th>
                        <th scope="col">@x.AdminKullaniciAdi</th>
                        <th scope="col">@x.Sifre</th>
                        <th><a href="/Adminler/AdminGetir/@x.ID" class="btn btn-warning">Güncelle</a></th>
                        <th><a href="/Adminler/AdminSil/@x.ID" class="btn btn-danger sil">Sil</a></th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="/Adminler/AdminEkle" class="btn btn-primary" style="margin-left: 5px;">Yeni Admin Ekle</a>

    <br />
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var silButtons = document.getElementsByClassName("sil");

        for (var i = 0; i < silButtons.length; i++) {
            silButtons[i].addEventListener("click", function (event) {
                var adminId = this.getAttribute('href').split('/').pop(); 
                if (adminId === "1") {
                    event.preventDefault(); 
                    setTimeout(function () {
                        alert('SÜPER ADMİN SİLİNEMEZ ! ');
                        location.reload();
                    }, 100); 
                } else {
                  
                     window.location.href = '/Adminler/AdminSil/' + adminId;
                }
            });
        }
    });
</script>