@model fotomarket.Models.Table_Hakkimizda

@{
    ViewBag.Title = "HakkimizdaGetir";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div style="text-align: center;">
    <h2>Hakkımızda Bölümü Düzenleme Sayfası</h2>
</div>

@using (Html.BeginForm("HakkimizdaGuncelle", "HakkimizdaBilgiler", FormMethod.Post, new { style = "margin-left: 5px;" }))
{
    <b> ID</b>
    <br />
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <b>Düzenleyen Kullanıcı ID:</b>
    @Html.TextBoxFor(x => x.KullaniciID, new { @class = "form-control", required = "required" })
    <br />
    <b>Hakkımızda Metni</b>
    @Html.TextAreaFor(x => x.HakkimizdaMetni, new { @class = "form-control", required = "required" })

    <br />

    <br />
    <button class="btn btn-info">Kaydet</button>

}