
<div style="text-align: center;">
    <form id="contact-form" method="post">
        <h2>İLETİŞİM</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="Adsoyad" placeholder="Adınız ve soyadınız" required />
        <label>Mail</label>
        <input type="email" class="form-control" name="Eposta" placeholder="E-posta adresiniz" required />
        <label>Konu</label>
        <input type="text" class="form-control" name="MesajKonusu" placeholder="Mesaj konusu" required />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" placeholder="Mesajınız" required />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
        <br />
        <br />
    </form>
</div>
